.git
.github
database
!database/sql
!database/mock_data
deploy
docs
tests
scripts
proto
*.md
.env
.env.example
.gitignore
LICENSE
frontend/node_modules
frontend/.next
**/__pycache__
**/.pytest_cache
**/.mypy_cache
